.btn
  background #fff
  border: solid 1px #cccccc
  border-radius 20px
  color #969696
  font-size 16px
  height: 40px
  line-height 38px
  padding: 0 15px
  text-align center
  cursor pointer
  &.btn-primary
    color: #fff
    background #42c02e
    border-color #42c02e
    &:hover
      background #3db922
  &.btn-dark
    color: #fff
    background #343434
    border-color #000
    &:hover
      background #000
  &.btn-light
    color: #969696
    background #f7f7f7
    border-color #c7c7c7
    &:hover
      background #f0f0f0
      border-color #969696