.card
  text-align center
  padding 15px
  margin-top: 60px
  border solid 1px #dedede
  border-radius 5px
  background hsla(0, 0%, 71%, .1)
  transition all .3s
  &:hover
    box-shadow 0 2px 20px 0 rgba(0, 0, 0, 0.2)
  .card-iconImg
    width 80px
    height 80px
    margin-top -55px
    border-radius 5px
    &.circle
      border-radius 40px
  .card-hr
    display flex
    justify-content space-between
    align-items center
    height 20px
    span
      display inline-block
    .card-body-title
      padding-right 10px
      font-size 14px
      color #969696
      border-color #eaeaea
    .hr
      flex 1
      height: 1px
      background #eaeaea