.search-wrapper{
  display: inline-block;
  position: relative;
}
.search-input{
  box-sizing: border-box;
  width: 150px;
  padding: 0 40px 0 20px;
  height: 40px;
  background: #eee;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  transition: all .3s;
}
.search-input:focus{
  width: 250px;
}

.search-icon{
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  width: 40px;
  height: 40px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}