.search-wrapper{
  display: inline-block;
  position: relative;
}
.search-input{
  box-sizing: border-box;
  width: 150px;
  padding: 0 40px 0 20px;
  height: 40px;
  background: #eee;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  transition: all .3s;
}
.search-input:focus{
  width: 250px;
}

.search-icon{
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  transition: all .3s;
  width: 30px;
}

.search-input:focus + .search-icon{
  color: #fff;
  background: #969696;
}