.tags
  width 100%
  padding 5px
  a
    display inline-block
    margin 0 20px 20px 0
    vertical-align top
  .tag-item
    color #333333
    background #f7f7f7
    border 1px solid #dcdcdc
    border-radius 4px
    overflow hidden
    img, span
      display inline-block
      vertical-align top
    img
      width: 30px
      height: 30px
    span
      font-size 14px
      padding 0 8px
      height: 30px
      line-height 30px
  .tags-more
    color #55a532
    font-size 14px
    line-height 30px
