.main-header {
  background: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.main-header h1 {
  color: #ffffff;
  line-height: 64px;
  margin: 0 10px 0 0;
  padding: 0;
}

.main-header nav {
  display: flex;
  justify-content: space-between;
}

.sign-in-field {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-field a{
  display: inline-block;
  color: #fff;
  font-weight: 600;
}

.sign-in-field span {
  display: inline-block;
  color: #cdcdcd;
}