html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

ul, li, p{
  margin: 0;
  padding: 0;
}

a:focus, input:focus, button:focus {
  outline: none;
}

ul {
  list-style: none;
}

ul, li, div, p, span, a{
  box-sizing: border-box;
}